# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
ENV/
env/
.venv/

# Flask
instance/
.webassets-cache

# Pytest
.cache

# MacOS
.DS_Store

# Uploads
uploads/

# Logs
*.log

# IDEs
.vscode/
.idea/